/*FORMS*/
.form-field{display: block; margin-bottom: 10px; font-size: 1.1em;}
.form-legend{font-size: 1.6em; font-weight: normal; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px #555 dotted;}

label{ margin-top: 15px;display: inline-block; width: 100%; }
.form-control{padding: 7px; border: 1px #ccc solid; width: 100%; color: #555;}
.form-control-lg{padding: 10px; border: 1px #ccc solid; width: 80%; color: #555;}
.form-control-md{padding: 10px; border: 1px #ccc solid; width: 50%; color: #555;}
.form-control-sm{padding: 10px; border: 1px #ccc solid; width: 25%; color: #555;}
.form-control-search{padding: 10px; border: 1px #ccc solid;color: #555;}
select{padding: 5px !important;}
#attachment-sql{display:none;}

input[type="submit"],
input[type="reset"],
button{width: auto;}
button:disabled{
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
input[type="submit"]:disabled{
cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
input[type="color"]{height: 40px; cursor: pointer;}
input[type="radio"]{height: 40px; cursor: pointer;width: 10px;}
.form-label-radio{width: 50%;}
.form-label-radio{width: 50%;}
.form-check .form-field{margin-bottom: 15px;}
.form-check label{display: inline-block;margin-right: 30px; padding: 8px 15px 10px 15px; background: #fbfbfb; cursor: pointer;width: 100%;}
.form-check label:hover{background: #fff;}
.form-check input{float: left; width: auto; margin: 4px 10px 0 0; cursor: pointer;width: 100%;}

.form-group{margin-top: 0 !important;margin-bottom: 0 !important;padding-top:0 !important;padding-bottom:0 !important;}

label.css-label {width: 50%;cursor: pointer;border: none;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;text-shadow: 1px 1px #555;margin: 5px 0;}
.css-checkbox{margin-right: 10px;margin-left: 15px;}

